<html xmlns:th="http://www.thymeleaf.org">
modal
<div class="modal fade" id="modal-common">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-common-title">
            标题
          </h4>
      </div>
      <div class="modal-body">
          <p id="modal-common-detail">内容</p>
      </div>
      <div class="modal-footer">
          <button type="button" onclick="modalClick()" class="btn pull-left  btn-primary">确定</button>
      </div>
    </div>
  <!-- /.modal-content -->
  </div>
<!-- /.modal-dialog -->
</div>

<script>
//隐藏模态框
function modalClick() {
$("#modal-common").modal("hide");
}
</script>



<script th:src="@{/assets/js/ace-extra.min.js}"></script>
<!--[if lt IE 9]>
<script th:src="@{/assets/js/html5shiv.js}"></script>
<script th:src="@{/assets/js/respond.min.js}"></script>
<![endif]-->
<!--[if !IE]> -->
<script th:src="@{/js/jquery-1.9.1.min.js}"></script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">window.jQuery || document.write("<script th:src='@{/js/jquery-1.10.2.min.js}'>"+"</"+"script>");</script>
<![endif]-->
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script th:src='@{/js/jquery.mobile.custom.min.js}'>"+"<"+"script>");
</script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/typeahead-bs2.min.js}"></script>
<!--[if lte IE 8]>
<script th:src="@{/assets/js/excanvas.min.js}"></script>
<![endif]-->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<script th:src="@{/assets/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/assets/laydate/laydate.js}" type="text/javascript"></script>






<!-- jQuery 3 -->
<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/bower_components/jquery-ui/jquery-ui.min.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- Morris.js charts -->
<script th:src="@{/bower_components/raphael/raphael.min.js}"></script>
<script th:src="@{/bower_components/morris.js/morris.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js}"></script>
<!-- jvectormap -->
<!--<script th:src="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>-->
<!-- jQuery Knob Chart -->
<script th:src="@{/bower_components/jquery-knob/dist/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script th:src="@{/bower_components/moment/min/moment.min.js}"></script>
<script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- datepicker -->
<script th:src="@{/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<!-- Bootstrap WYSIHTML5 -->
<!--<script th:src="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>-->
<!-- Slimscroll -->
<script th:src="@{/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE App -->
<!--<script th:src="@{/js/adminlte.min.js}"></script>-->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script th:src="@{/js/pages/dashboard.js}"></script>-->
<!-- AdminLTE for demo purposes -->
<!--<script th:src="@{/js/demo.js}"></script>-->
<!-- iCheck 1.0.1 -->
<script th:src="@{/plugins/iCheck/icheck.min.js}"></script>
<!-- DataTables -->
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<!--<script th:src="@{/static/js/my_userlist.js}"></script>-->
